
.nav-item{
  margin-right: 50px;
}
.contactus{
  margin-right: 80px;
}
.container1{
  background-image: url("back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
  text-align: center;

}h1
{
  color: white;
  font-family: 'Cookie', cursive;
  padding-top: 150px;
}
h2 {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  padding-bottom: 270px;
  color: white;
}

.container2{
  background-image: url("back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;

}
p
{font-size: 1.5rem;
}
